<!-- Page header -->
<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
			<h4><img style="width:  50px" class="img-fluid" src="assets/images/logo/nirsal-logo-mark.png"/>&nbsp;&nbsp; <span class="font-weight-semibold">PMRO Portal</span> - Field Data Capture</h4>
			<a href="farmers-info" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		<div class="header-elements d-none">
			<!-- <a href="farmers-info" class="btn btn-labeled btn-labeled-right bg-primary">Button <b><i class="icon-menu7"></i></b></a> -->
		</div>
	</div>

	<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
		<div class="d-flex">
			<div class="breadcrumb">
				<a href="farmers-info" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
				<a href="farmers-info" class="breadcrumb-item">Farmer Groups</a>
				<span class="breadcrumb-item active">Farmer</span>
			</div>

			<a href="farmers-info" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>
	</div>
</div>
<!-- /page header -->
<!-- Content area -->
<!-- <js-camera id="camera"></js-camera> -->
<div class="content">
	<!-- Form layouts -->
	<div class="row">
		<div class="col-12">
			<!-- Horizontal form -->
			<div class="card">
				<div class="card-header header-elements-inline">
					<h5 class="card-title">Farmer Registration</h5>
					<div class="header-elements">
						<div class="list-icons">
	                		<a class="list-icons-item" data-action="reload"></a>
	                	</div>
	            	</div>
	        	</div>

				<div class="card-body">
					<form action="farmers-info" class="row">
						<!-- <div class="form-group col-3"> -->
							<!-- <label class="col-form-label col-12">Group Name</label>
							<div class="col-12">
								<input type="text" class="form-control">
							</div>
							<label class="col-form-label col-12">State</label>
							<div class="col-12">
								<input type="text" class="form-control">
							</div>
							<label class="col-form-label col-12">LGA</label>
							<div class="col-12">
								<input type="text" class="form-control">
							</div>
							<label class="col-form-label col-12">Ward / Village</label>
							<div class="col-12">
								<input type="text" class="form-control">
							</div>
							<label class="col-form-label col-12">Commodity Type</label>
							<div class="col-12">
								<input type="text" class="form-control">
							</div>
							<label class="col-form-label col-12">Total Land Size</label>
							<div class="col-12">
								<input type="text" class="form-control">
							</div> -->
						<!-- </div> -->
						<div class="table-responsive col-12">
							<table class="table">
								<thead class="table-success">
									<th>ID</th>
									<th>Farmer BVN</th>
									<th>NOK BVN</th>
									<th>Valid ID</th>
									<th>Photo</th>
									<th>Fingerprint</th>
									<th></th>
								</thead>
								<tbody>
									<tr *ngFor="let farmer of farmers; let index=index">
										<td>{{index+1}} </td>
										<td>{{farmer.bvn}}</td>
										<td>{{farmer.nokBvn}}</td>
										<td>{{farmer.id}}</td>
										<td></td>
										<td>
											<img class="img-fluid" src="assets/images/fingerprint.png" style="height:  50px;"/>
											<!-- <span class="icon-x btn btn-sm btn-link text-danger" (click)="removeFarmer(index)"></span>  -->
										</td>
									</tr>
									<tr *ngIf="showFarmerAddForm">
										<td>{{farmerForm.id}}</td>
										<td [contenteditable]="isContentEditable" name="bvn" style="border: 1px dashed #658c01" [(ngModel)]="farmerForm.bvn"></td>
										<td [contenteditable]="isContentEditable" name="landsize" style="border: 1px dashed #658c01" [(ngModel)]="farmerForm.nokBvn"></td>
										<td [contenteditable]="isContentEditable" name="landsize" style="border: 1px dashed #658c01" [(ngModel)]="farmerForm.id"></td>
										<td><a class="btn btn-link" (click)="capturePhoto()">Capture photo</a></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="7" class="text-center">
											<span class="btn btn-secondary" (click)="addFarmer()">Add Farmer</span>
										</td>
									</tr>
								</tbody>
							</table>
							
						</div>

						<div class="col-12 text-right" style="margin-top:10px">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
			<!-- /horizotal form -->

		</div>
	</div>
	<!-- /form layouts -->
	
</div>
<!-- /content area -->