<!-- Page header -->
<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
			<h4><img style="width:  50px" class="img-fluid" src="assets/images/logo/nirsal-logo-mark.png"/>&nbsp;&nbsp; <span class="font-weight-semibold">PMRO Portal</span> - Field Data Capture</h4>
			<a href="farmers-info" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		<div class="header-elements d-none">
			<!-- <a href="farmers-info" class="btn btn-labeled btn-labeled-right bg-primary">Button <b><i class="icon-menu7"></i></b></a> -->
		</div>
	</div>

	<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
		<div class="d-flex">
			<div class="breadcrumb">
				<a href="farmers-info" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
				<a href="farmers-info" class="breadcrumb-item">Farmer Groups</a>
				<span class="breadcrumb-item active">Farmer</span>
			</div>

			<a href="farmers-info" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>
	</div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
	<!-- Form layouts -->
	<div class="row">
		<div class="col-12">
			<!-- Horizontal form -->
			<div class="card">
				<div class="card-header header-elements-inline">
					<h5 class="card-title">Farmer Registration</h5>
					<div class="header-elements">
						<div class="list-icons">
	                		<a class="list-icons-item" data-action="reload"></a>
	                	</div>
	            	</div>
	        	</div>

				<div class="card-body">
					<form action="farmers-info" class="row">
						<div class="form-group col-9">
							<label class="col-form-label col-12">Bank Verification Number</label>
							<div class="col-12">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-3 text-center">
							<img class="img-fluid" src="assets/images/fingerprint.png" style="height:  100px;"/>
						</div>

						<div class="col-12 text-right" style="margin-top:10px">
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
			<!-- /horizotal form -->

		</div>
	</div>
	<!-- /form layouts -->
	
</div>
<!-- /content area -->