<!-- Page header -->
<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
			<h4><img style="width:  50px" class="img-fluid" src="assets/images/logo/nirsal-logo-mark.png"/>&nbsp;&nbsp; <span class="font-weight-semibold">PMRO Portal</span> - Field Data Capture</h4>
			<a href="farmers-info" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		<div class="header-elements d-none">
			<!-- <a href="farmers-info" class="btn btn-labeled btn-labeled-right bg-primary">Button <b><i class="icon-menu7"></i></b></a> -->
		</div>
	</div>

	<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
		<div class="d-flex">
			<div class="breadcrumb">
				<a href="farmers-info" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
				<a href="farmers-info" class="breadcrumb-item">Farmer Groups</a>
				<span class="breadcrumb-item active">Farm Boundary</span>
			</div>

			<a href="farmers-info" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>
	</div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div style="height: 50vh;" id="map">
				
			</div>
		</div>
	</div>
</div>
<!-- /content area -->